/************ speaker page ***********/
.speaker{
    background-image: url(../Images/conference.webp);
    background-size: cover;
    position: relative;
    padding: 0;
}
.event{
    background-image: url(../Images/Convention-Centre.jpg);
    background-size: cover;
    position: relative;
    padding: 0;
}
.overlay{
    position: relative;
    width: 100%;
    padding-top: 7%;
    background-color:rgba(0, 0, 0, .5);
}
.speakerForm{
    width: 50%;
    border-radius: 10px;
    background-color:rgba(255, 255, 255, .6)
}
.speakerForm p{
    padding-top: 20px;
    font-family: "Segoe Script",Arial, Helvetica, sans-serif;
    font-size: 35px;
}
.speakerForm .input-group ,select{
    padding-left: 25%;
    width: 80%;
    margin-top: 20px;
}
select{
    margin-left: 27%;
}
.speakerForm button{
    margin: 20px;
}